:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --xmas-snow: #fffafa;
  --xmas-red: #580404;
  --xmas-light-olive: #f1d0b2;
  --xmas-dark-olive: #acb285;
  --xmas-green: #283c1e;
  --xmas-silver: #c0c0c0;

  --xmas-pine-tree: #00b32c;
  --xmas-dark-green: #00b32c;
  --xmas-light-green: #34a65f;

  --z-content: 0;
  --z-overlay: 1;
  --z-loading: 2;
  --z-error: 2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--xmas-snow);
}

#app {
  width: 100vw;
  /* min-width: 650px; */
  margin: 0 auto;
  padding: 1rem;
  z-index: var(--z-content);
}

article {
  text-rendering: optimizeLegibility;
  text-align: left;
  hyphens: none;

  --red: 230;
  --green: 230;
  --blue: 230;
  --aa-brightness: calc((
  (var(--red) * 299) +
  (var(--green) * 587) +
  (var(--blue) * 114)
  ) / 1000);

  --aa-color: calc((var(--aa-brightness) - 128) * -1000);
  color: rgb(var(--aa-color), var(--aa-color), var(--aa-color));
}

p {
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
  width: 70ch;
  max-width: 80%;
}

p[lang="en"] {
  text-align: justify;
  hyphens: auto;
}

@supports (font-size-adjust: 1) {
  article {
    font-size-adjust: 0.5;
  }
}

h1 {
  /* font-size: 2.5em; */
  font-size: 4vw;
  max-font-size: 4vw;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  color: var(--xmas-green);
}

h2 {
  font-size: 2em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  color: var(--xmas-green);
}

h3 {
  font-size: 1.75em;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.38) 0;
  color: var(--xmas-green);
}

h4 {
  font-size: 1.5em;
  line-height: calc(1ex / 0.37);
  margin: calc(1ex / 0.37) 0;
  color: var(--xmas-green);
}

a {
  font-weight: 500;
  color: var(--xmas-red);
  text-decoration: inherit;
}
a:hover {
  color: var(--xmas-red);
  text-decoration: underline;
}
a:visited {
  color: var(--xmas-red);
}

img {
  max-width: 100%;
  width: 80vb;
}